@import "src/app/styles/_variables.scss";

.coinRow{
    display: flex;
    align-items: center;
    border-radius: 2.25rem;
    cursor: default;
    
    &:hover{
        background-color: $WHITE-4;
    }

    .fav-btn{
        padding-left: 1.5rem;
    }
    
    .rowLink{
        padding: 1rem 2rem;
        flex: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    
        .info{
            display: flex;
            align-items: center;
            gap: 1rem;
    
            .name{
                display: flex;
                flex-direction: column;
                gap: .25rem;
    
                .shortName{
                    color: $SECONDARY-600;
                    font-size: 14px;
                }
            }
        }
    
        .price{
            justify-self: center;
        }
    
        .priceChange{
            justify-self: center;
            
            .rate{
                &.negative{
                    color: #ff314a;
                }
    
                &.positive{
                    color: #07ef74;
                }
            }
        }

    }
}